h1, h2, li, input {
    font-family: 'Hammersmith One', sans-serif;
}

#input, #advanced {
    margin: 2px;
    width: 230px;
    overflow: auto;
    float: left;
    display: inline-block;
    border: 5px solid red;
    background-color: #f1f1f1;
    padding-right: 10px;
    padding-left: 10px;
}

#advanced {
    clear: both;
}

#input h2 {
    position: relative;
    font-size: 20px
}

#input ul {
    list-style-type: none;
}

input[type="button"] {
    position: relative;
    transition-duration: 0.3s;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: red;
    color: white;
}

#generate {
    float: bottom;
}

#export {
    position: inherit;
    float: bottom;
    font-size: 50px;
    border: 2px solid red;
}

#canvas {
    
}

input.active {
    background-color: red;
    color: white;
}

input[type="number"] {
    width: 45px;
}